<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shiji.dao.DepartmentMapper" >

    <resultMap id="Department" type="com.shiji.dao.dataobject.DepartmentDO">
        <result property="id" column="id" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="owner" column="owner" />
    </resultMap>

    <insert id="insert" parameterType="com.shiji.dao.dataobject.DepartmentDO">
        INSERT INTO department(
        created_at,
        updated_at,
        name,
        owner,
        description
        )
        VALUES(
        now(),
        now(),
        #{name},
        #{owner},
        #{description}
        )
        <selectKey resultType="int" keyProperty="id">
            select last_insert_id() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="com.shiji.dao.dataobject.DepartmentDO">
        UPDATE department
        SET
        updated_at = now(),
        name = #{name},
        owner = #{owner},
        description = #{description}
        WHERE id = #{id};
    </update>

    <select id="findAll" resultMap="Department">
        select * from department
    </select>

    <select id="findByIds" parameterType="java.util.ArrayList" resultMap="Department">
        select * from department
        where id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="findByName" parameterType="java.lang.String" resultMap="Department">
        select * from department where name LIKE CONCAT('%',#{name},'%')
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from department where id=#{id}
    </delete>
</mapper>