<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shiji.dao.EmployeeMapper" >
    <!--<typeAliases>-->
        <!--<typeAlias alias="Employee" type="com.shiji.dao.dataobject.EmployeeDO"/>-->
    <!--</typeAliases>-->
    <resultMap id="Employee" type="com.shiji.dao.dataobject.EmployeeDO">
        <result property="id" column="id" />
        <result property="createAt" column="create_at" />
        <result property="updateAt" column="update_at" />
        <result property="name" column="name" />
        <result property="englishName" column="english_name" />
        <result property="code" column="code" />
        <result property="department" column="department" />
        <result property="jobTitle" column="job_title" />
        <result property="gender" column="gender" />
        <result property="location" column="location" />
        <result property="email" column="email" />
        <result property="phone" column="phone" />
        <result property="description" column="description" />
        <result property="onboardAt" column="onboard_at" />
    </resultMap>

    <insert id="insert" parameterType="com.shiji.dao.dataobject.EmployeeDO">
        insert into employee(
        create_at,
        update_at,
        onboard_at,
        name,
        english_name,
        gender,
        code,
        department,
        job_title,
        location,
        email,
        phone,
        description
        )
        values(
        now(),
        now(),
        #{onboardAt},
        #{name},
        #{englishName},
        #{gender},
        #{code},
        #{department},
        #{jobTitle},
        #{location},
        #{email},
        #{phone},
        #{description}
        )
        <selectKey resultType="int" keyProperty="id">
            select last_insert_id() as id
        </selectKey>
    </insert>

    <!--<delete id="deleteById" parameterClass="java.lang.Integer">-->
        <!--delete from employee where id=#id#-->
    <!--</delete>-->

    <!--<select id="findById" parameterClass="java.lang.Integer" resultMap="Employee">-->
        <!--select * from employee where  id=#id#-->
    <!--</select>-->

    <select id="findAll" resultMap="Employee">
        select * from employee
    </select>

</mapper>